body{
  background-image: url('blue.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display:flex;
}

header{
  display: none;
  color: white;
  margin-left: 5px;
  line-height: 0;
  display: flex;
}

.scrabble-logo{
  height: 70px;
  width: 60px;
  display: inline-block;
  margin: ;
}

.name{
  display: inline-block;
  margin-top: 20px;
}

.main {
  display: flex;
  border-width: 5px;
  border-style: outset;
  width: 69%;
  align: center;
  border-radius: 3%;
  margin-left: 5px;
}

.game-area {
  background-color: darkblue;
  border-style: inset;
  border-width: 1px;
  border-radius: 3%
}

.game-info {
  width: 250px;
  position: relative;
  margin: 0px;
  color: white;
}

.header-background{
  border-radius: 3%
  font: 24px;
  font-weight: bold;
}

.words-played {
  height: 200px;
  width: 255px;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  border-radius: 3%;
  padding: 5px;
  overflow: scroll;
}

.player-id{
  font: 24px;
  font-weight: bold;
}

.holder {
  width: 250px;
  height: 40px;
  border-style: inset;
  border-width: 1px;
  position: absolute;
  bottom: 40px;
  left: 0;
  margin: 10px;
  padding: 5px;
  border-radius: 3%;
  background-color: darkblue;
}

.tile {
  width: 35px;
  height: 35px;
  display: inline-block;
  draggable: true;
}

.message p{
  font-weight: bold;
}

.button-holder {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}

.buttons {
  display: inline-block;
  background-color: darkblue;
  color: white;
  border-radius: 20%;
  padding: 5px;
  width: 70px;
}

.scrabble-board {
  margin: 15px;
  line-height: 0;
  width: 555px;
  height: 555px;
  align-content: center;
  border-width: 2px;
  border-color: white;
  border-style: groove;
  background-color: silver;
}

.cell {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid lightgray;
  /*background-color: white;*/
}
.cell .img {
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  justify-content: center;
  display: inline;
}

#popup {
  display:flex;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#play-start {
  width: 140px;
  height: 70px;
  border-style: inset;
  border-width: 1px;
  margin: 10px;
  padding: 5px;
  border-radius: 5%;
  background-color: darkblue;
  position: absolute;
  left: 27%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: white;
}

#exchange {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-width: 5px;
  border-color: white;
  border-style: groove;
  /*background-color: silver;*/
  height : 100px;
  width : 350px;
  background-image: url('blue.jpg');
  background-repeat: no-repeat;
}

#exchange-button {
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 70%;
}

.tile-holder {
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 5%;
}

.play-click {
  width: 35px;
  height: 35px;
  display: inline-block;
}
.score-board {
  width: 255px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  position: relative;
  margin: 5px;
  color: white;
  border-radius: 3%;
  line-height: 1.5px;
  overflow: scroll;
}

.score{
  /*margin: 5px;*/
}

.player-info{
  margin: 10px;
  line-height: 15px;
}

.ex {
  border-color: red;
  box-shadow: 0px 1px 1px red ,0px 0px 8px red;
}

.inactive {
  border-color: red;
  box-shadow: 0px 1px 1px red ,0px 0px 8px red;
  disabled: 'true';
  display: none;
  }

.active {
  border-color: blue;
  box-shadow: 0px 1px 1px lightblue ,0px 0px 8px lightblue;
  enabled: 'true';
  }

.s-inactive {
  border-color: red;
  box-shadow: 0px 1px 1px red ,0px 0px 8px red;
  disabled: 'true';
  }

.s-active {
  border-color: blue;
  box-shadow: 0px 1px 1px lightblue ,0px 0px 8px lightblue;
  enabled: 'true';
  }


.v-active {
  border-color: green;
  box-shadow: 0px 1px 1px lightblue ,0px 0px 8px lightblue;
  enabled: 'true';
  droppable: 'false';
  draggable: 'false';
  }

.t-inactive {
  border-color: none;
  box-shadow: none;
  }

.t-active {
  border-color: blue;
  box-shadow: 0px 1px 1px lightblue ,0px 0px 8px lightblue;
  enabled: 'true';
  droppable: false;
  }

.start {
  background-image: url('img/blue-star.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.a {
  background-image: url('img/A-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.b {
  background-image: url('img/B-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.c {
  background-image: url('img/C-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.d {
  background-image: url('img/D-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.e {
  background-image: url('img/E-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.f {
  background-image: url('img/F-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.g {
  background-image: url('img/G-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.h {
  background-image: url('img/H-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.i {
  background-image: url('img/I-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.j {
  background-image: url('img/J-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.k {
  background-image: url('img/K-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.l {
  background-image: url('img/L-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.m {
  background-image: url('img/M-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.n {
  background-image: url('img/N-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.o {
  background-image: url('img/O-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.p {
  background-image: url('img/P-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.q {
  background-image: url('img/Q-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.r {
  background-image: url('img/R-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.s {
  background-image: url('img/S-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.t {
  background-image: url('img/T-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.u {
  background-image: url('img/U-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.v {
  background-image: url('img/V-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.w {
  background-image: url('img/W-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.x {
  background-image: url('img/X-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.y {
  background-image: url('img/Y-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.z {
  background-image: url('img/Z-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.wild {
  background-image: url('img/Blank-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
